<!-- <div class="hidden">
    <div class="badge badge-soft badge-primary">Primary</div>
    <div class="badge badge-soft badge-secondary">Secondary</div>
    <div class="badge badge-soft badge-accent">Accent</div>
    <div class="badge badge-soft badge-neutral">Neutral</div>
    <div class="badge badge-soft badge-info">Info</div>
    <div class="badge badge-soft badge-success">Success</div>
    <div class="badge badge-soft badge-warning">Warning</div>
    <div class="badge badge-soft badge-error">Error</div>
  </div>

  <div class="avatar">
    <div class="ring-primary ring-offset-base-100 w-24 rounded-full ring ring-offset-2">
      <img src="#" />
    </div>
  </div>
  <div class="avatar">
    <div class="ring-secondary ring-offset-base-100 w-24 rounded-full ring ring-offset-2">
      <img src="#" />
    </div>
  </div>
  <div class="avatar">
    <div class="ring-accent ring-offset-base-100 w-24 rounded-full ring ring-offset-2">
      <img src="#" />
    </div>
  </div>
  <div class="avatar">
    <div class="ring-neutral ring-offset-base-100 w-24 rounded-full ring ring-offset-2">
      <img src="#" />
    </div>
  </div>
  <div class="avatar">
    <div class="ring-info ring-offset-base-100 w-24 rounded-full ring ring-offset-2">
      <img src="#" />
    </div>
  </div>
  <div class="avatar">
    <div class="ring-success ring-offset-base-100 w-24 rounded-full ring ring-offset-2">
      <img src="#" />
    </div>
  </div>
  <div class="avatar">
    <div class="ring-warning ring-offset-base-100 w-24 rounded-full ring ring-offset-2">
      <img src="#" />
    </div>
  </div>
  <div class="avatar">
    <div class="ring-error ring-offset-base-100 w-24 rounded-full ring ring-offset-2">
      <img src="#" />
    </div>
  </div> -->