<footer class="footer sm:footer-horizontal footer-center bg-base-200 text-base-content rounded-lg p-10">
  <aside>
    <img src="/assets/images/logo.png" width="100px">
    <p class="font-bold">
      screenie.host
      <br />
      Sharing your screenies since 2024
    </p>
    <p>Copyright © <%= new Date().getFullYear() %> - All right reserved</p>
  </aside>
  <nav>
    <div class="grid grid-flow-col gap-4">
      <a href="https://github.com/matyii/screenie" target="_blank" class="btn btn-ghost"><i class="bi bi-github"></i></a>
    </div>
  </nav>
</footer>