<dialog id="wipe_modal" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box bg-base-200 text-base-content">
      <h3 class="text-lg font-bold">Confirm Wipe</h3>
      <p>Are you sure you want to wipe all uploads? This action cannot be undone.</p>
      <div class="modal-action">
        <button class="btn" onclick="wipe_modal.close()">Cancel</button>
        <button class="btn btn-error" id="confirmWipeButton">Confirm Wipe</button>
      </div>
    </div>
</dialog>